<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>oxipayprestashop</name>
	<displayName><![CDATA[Oxipay prestashop]]></displayName>
	<version><![CDATA[1.2.0]]></version>
	<description><![CDATA[Accept payments for your products via Oxipay.]]></description>
	<author><![CDATA[Oxipay]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
